.body {
  background-color: rgba(0, 255, 255, 0.603);
}
* {
  font-family: sans-serif;
}
.btnTheme {
  background: rgba(128, 128, 128, 0.589);
  color: rgb(0, 0, 0);
  border: 3px solid green;
  padding: 8px;
  border-radius: 20px;

  cursor: pointer;
}
.notes {
  display: flex;
}
.head {
  display: flex;
  justify-content: space-between;
  color: green;
}
span {
  color: black;
}
.textarea {
  width: 300px;
  height: 200px;
  resize: none;
  background-image: linear-gradient(to right bottom, green, aqua);
  outline: none;
  border-radius: 10px;
}
.card {
  position: relative;
  top: 20px;
}
.del {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
}
.save {
  position: relative;
}
.primary {
  position: absolute;
  right: 7px;
}
.none {
  display: none;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}
